/* Common styles */
@import url('./reset.css');

body {
  padding: 36px 0;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.87);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #ffffff;
}
.is-hidden {
  display: none;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  background: #4e75ff;
  font-weight: 500;
  color: #fff;
}

button:hover,
button:focus {
  background: #6c8cff;
}
.search-form {
  /* display: block; */
  margin-right: auto;
  margin-left: auto;
}
.search-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 371px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 32px;
  background-color: transparent;
  outline: transparent;
}

.search-input:hover {
  border: 1px solid #000;
}
.search-input:focus {
  border: 1px solid #4e75ff;
}
/* }
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  max-width: 1440px;
  padding: 24px 156px;
  list-style-type: none;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  background: rgba(46, 47, 66, 0.8);
  transition: 0.7s;
}
img:hover {
  transform: scale(1.02); /* Увеличиваем масштаб */
/* }
.has-lightbox .sl-wrapper .sl-navigation button {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.has-lightbox .sl-wrapper .sl-counter {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.has-lightbox .sl-wrapper .sl-close {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.simple-lightbox {
  background: rgba(46, 47, 66, 0.8);
} */
/* // Додатковий імпорт стилів */
@import url('izitoast/dist/css/iziToast.min.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');
@import url('./loader.css');
